doctype html
html
	head(lang = "ru")
		meta(charset = "UTF-8")
		title CasePro
		link(href = "dist/styles/app.css"
			rel = "stylesheet")

	body
		include templates/_header
		include templates/_content
